@font-face {
    font-family: 'SpaceMono400';
    src: url('../fonts/SpaceMono-Regular.ttf') format('truetype');

    
    font-family: 'SpaceMono700';
    src: url('../fonts/SpaceMono-Bold.ttf') format('truetype');
}


.footer-menu-class{
    display: flex;
 

}

ul, li {
    /* Réinitialiser toutes les propriétés */
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: center;
}

ul, li a{
    text-transform: uppercase;
    display: flex;
    color: inherit;
    font-family: 'SpaceMono400', sans-serif;
    text-decoration: none; 
    margin-left: 40px;
    margin-top: 10px;
   
}

ul, li a:hover{
    font-family: 'SpaceMono700', sans-serif;
   
}

.footer-menu-class{
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
}
