/* 
     _   _                _           
    | | | |              | |          
    | |_| | ___  __ _  __| | ___ _ __ 
    |  _  |/ _ \/ _` |/ _` |/ _ \ '__|
    | | | |  __/ (_| | (_| |  __/ |   
    \_| |_/\___|\__,_|\__,_|\___|_|
*/


.main-navigation ul li a {
    text-decoration: none; /* Supprime la décoration de texte par défaut */
    color: #000000; /* Couleur du texte */
    font-family: 'SpaceMono400', sans-serif;
    text-transform: uppercase;
}



.header_logo{
    width: 216px;
    height: 14px;
}



.main-navigation ul {
    list-style-type: none; 
    padding: 0; 
}

.main-navigation{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 99999;
    align-items: center;
    gap: 43%;
}




.logo-container{
    margin-top: 20px;
}


.inside_hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;


}

.hamburger-menu {
    display: none;
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }
}

