@font-face {
  font-family: 'PoppinsMedium';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');

  
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  z-index: 3;
}

.modal-content {
  background-color: rgb(255, 255, 255);
  margin: 15% auto;
  padding: 20px 0px;
  width: 51%;
  text-align: center;
  border: 5px solid black;
}


.font_label{
  font-family: 'PoppinsMedium', sans-serif;


}

.wpcf7-form-control{
  width: 263px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.title_modal{
  width: 100%;
  height: 100%;

  right: 20px;


}


.font_label input{
  width: 50%;
  border: 1px solid #B8BBC2;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  padding-left: 5px;
  font-family: 'SpaceMono400', sans-serif;
}





.font_label textarea {
  width: 50%;
  height: 210px; /* Définir la hauteur à 210px */
  border: 1px solid gray;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  resize: none; /* Empêcher le redimensionnement */
}


.submit_modal {
  width: 50%;
  margin-top: 20px; /* Ajoutez un espacement au-dessus du bouton */
  margin-left: auto;
  margin-right: auto;
}

.middlered{

  justify-content: center;
  align-items: center;
  font-size: 60px;


}

#menu-header-menu-1{
  color: white;


}

