@font-face {
    font-family: 'SpaceMono400Italic';
    src: url('../fonts/SpaceMono-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'SpaceMono400';
    src: url('../fonts/SpaceMono-Regular.ttf') format('truetype');
}

.render_photo {
    max-width: 563px; /* Largeur maximale de l'image */
    max-height: 840px;
    object-fit: cover;
}

.render_photo img{
    max-width: 20px; /* Largeur maximale de l'image */
    max-height: 840px;
    object-fit: cover;
}

h2{
    font-family: 'SpaceMono400Italic', sans-serif;
    font-size: 66px;
    text-transform: uppercase;
}

p{
    font-family: 'SpaceMono400', sans-serif;
    text-transform: uppercase;

}
.photo-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.text_info{
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 50px;

}

.modal_inside{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'SpaceMono400', sans-serif;
    display: flex;
    align-items: center;
}


.bouton-contact {
    background: #D8D8D8;
    color: #000000;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}


.vous_aimerez_aussi img{
    width: 400px;
    height: 400px;
    object-fit: cover;


}

.related-photos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 240px;
  

}


/* Modale */

.modal_button{
   background-color: #D8D8D8;
   width: 272px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: rgb(0, 0, 0);
   cursor: pointer;

}

.contact_inside{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-top: 50px;
    border-bottom: 1px solid black;

}

.contact_inside p{
    text-align: center;

}

.navigation-links {
    display: flex;
    gap: 10px;
}
.prev-post-preview, .next-post-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navigation-links a {
    margin-top: 10px;
    text-decoration: none;
    color: #000;
}


.next-post{
    display: flex;
    flex-direction: column;
    align-items: center;


}

.next-post, .prev-post{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
    
    
    }



    @media (max-width: 439px) {
        /* Styles à appliquer lorsque la largeur d'écran est <= 439px */
        body {
            font-size: 14px; /* Exemple de changement de taille de police pour un affichage plus compact */
            text-align: center;
        }
        .main-navigation {
            gap: 0px;
            flex-direction: column;

        }

       
    }    
